button, input, optgroup, select, textarea {
	font: inherit;
	margin: 0
}
optgroup {
	font-weight: 700
}
button, input {
	overflow: visible
}
button, select {
	text-transform: none
}
[type=reset], [type=submit], button, html [type=button] {
-webkit-appearance:button
}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
border-style:none;
padding:0
}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
outline:1px dotted ButtonText
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}
textarea {
	overflow: auto
}
[type=checkbox], [type=radio] {
box-sizing:border-box;
padding:0
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
height:auto
}
[type=search] {
-webkit-appearance:textfield;
outline-offset:-2px
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
::-webkit-input-placeholder {
color:inherit;
opacity:.54
}
::-webkit-file-upload-button {
-webkit-appearance:button;
font:inherit
}
* {
	box-sizing: border-box
}
html {
	line-height: 1.2;
font-size:.75rem;
	background-color: #fff;
	background-size: 47px 51px
}
@media (min-width:750px) {
html {
	font-size: 1rem
}
}
@media only screen and (-webkit-max-device-pixel-ratio:2.0833333333333335), only screen and (max-resolution:200dpi) {
html {
	-webkit-font-smoothing: antialiased
}
}

h1, h2, h3, h4, h5, h6 {
	font-family: Graphik, -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, Ubuntu, segoe ui, arial, sans-serif;
	font-weight: 400;
	line-height: 1.2
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0
}
p {
	font-size: 1rem
}
dl, ol, ul {
	margin-top: 0;
	margin-bottom: 0
}
h1 {
	font-size: 3.3rem
}
h2 {
	font-size: 2rem
}
h3 {
	font-size: 1.5rem
}
h4 {
	font-size: 1.1666667rem
}
h5 {
	font-size: 1rem
}
h6 {
font-size:.875rem;
	font-weight: 400
}
.btn, a {
	text-decoration: none
}
.btn {
	font-family: inherit;
	font-size: inherit;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	line-height: 1.2;
	padding: 1rem;
	height: auto;
	border: 1px solid transparent;
	border-radius: 4px;
	vertical-align: middle;
	-webkit-appearance: none;
	color: inherit;
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.btn.is-hover, .btn:hover {
	text-decoration: none
}
.btn.is-focus, .btn:focus {
	outline: none;
	border-color: rgba(0,0,0,.075);
	box-shadow: 0 0 0 3px rgba(0,0,0,.375)
}
::-moz-focus-inner {
border:0;
padding:0
}
.btn-primary {
	color: #fff;
	background-color: #92278F;
	border-radius: 4px
}
.btn-primary.is-hover, .btn-primary:hover {
	box-shadow: inset 0 0 0 20rem rgba(0,0,0,.075)
}
.btn-primary.is-active, .btn-primary:active {
	box-shadow: 0 0 0 3px rgba(0,0,0,.375)
}
.btn-primary.is-disabled, .btn-primary:disabled {
	background-color: #ebebeb;
	color: #b4b4b4
}
.btn-outline {
	border-color: currentcolor;
	border-radius: 4px
}
.btn-outline.is-hover, .btn-outline:hover {
	box-shadow: inset 0 0 0 20rem rgba(0,0,0,.075)
}
.btn-outline.is-active, .btn-outline:active {
	box-shadow: 0 0 0 3px rgba(0,0,0,.375)
}
.btn-outline.is-disabled, .btn-outline:disabled {
	background-color: #ebebeb;
	color: #b4b4b4
}
.btn-large {
	padding: 1.2rem 1.25rem
}
.floating-label--label {
	position: relative;
	display: none;
	z-index: 3
}
.floating-label--label.has-value {
	top: .375em;
left:.6rem;
	display: block
}
.floating-label--input {
padding:.75em .6rem;
height:calc(1.5rem + .75em * 2)
}
.floating-label--input.has-value {
	padding-top: 1.125em;
	padding-bottom: .375em
}
.floating-label--icon {
	top: .75em;
right:.6rem
}
.glow, select:focus {
	outline: 2px auto;
	-moz-outline-radius: 4px;
	outline-offset: 0;
	outline: 5px auto -webkit-focus-ring-color;
	outline-color: #40cbac;
	z-index: 2;
	position: relative
}
.glow {
	outline-offset: -4px
}
select:focus {
	outline-offset: -2px
}
.glow.field-is-error, select:focus.field-is-error {
	outline-color: #e8a50c
}
input[type=date], select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
input:focus {
	outline: none
}
.h1 {
	font-size: 3.3rem
}
.h2 {
	font-size: 2rem
}
.h3 {
	font-size: 1.5rem
}
.h4 {
	font-size: 1.1666667rem
}
.h5 {
	font-size: 1rem
}
.h6 {
font-size:.875rem
}
.h0 {
	font-size: 5.25rem
}
.f1 {
	font-size: 40px
}
.f2 {
	font-size: 24px
}
.f3 {
	font-size: 18px
}
.f4 {
	font-size: 14px
}
.f5 {
	font-size: 12px
}
.f6 {
	font-size: 9px
}
.font-family-inherit {
	font-family: inherit
}
.font-size-inherit {
	font-size: inherit
}
.text-decoration-none {
	text-decoration: none
}
.bold {
	font-weight: 700;
	font-weight: 600
}
.regular {
	font-weight: 400
}
.italic {
	font-style: italic
}
.caps {
	text-transform: uppercase;
	letter-spacing: .1em
}
.left-align {
	text-align: left
}
.center {
	text-align: center
}
.right-align {
	text-align: right
}
.justify {
	text-align: justify
}
.nowrap {
	white-space: nowrap
}
.break-word {
	word-wrap: break-word
}
.line-height-1 {
	line-height: 1
}
.line-height-2 {
	line-height: 1.3333
}
.line-height-3 {
	line-height: 1.6666
}
.line-height-4 {
	line-height: 2
}
.list-style-none {
	list-style: none
}
.underline {
	text-decoration: underline
}
.truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.list-reset {
	list-style: none;
	padding-left: 0
}
.line-height-5 {
	line-height: 2.6666
}
.serif {
	font-family: serif
}
.sans-serif {
	font-family: Graphik, -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, Ubuntu, segoe ui, arial, sans-serif
}
.medium {
	font-weight: 500
}
.light {
	font-weight: 300
}
.titleize {
	text-transform: capitalize
}
.shout {
	text-transform: uppercase
}
.strike {
	text-decoration: line-through
}
.shadow {
	text-shadow: 1px 1px #000
}
.engrave-2 {
	text-shadow: 0 -1px 0 rgba(0,0,0,.225)
}
.crush {
	letter-spacing: -.05em
}
.letter-spacing-0 {
	letter-spacing: 0
}
.letter-spacing-1 {
	letter-spacing: 1px
}
.letter-spacing-2 {
	letter-spacing: 2px
}
.letter-spacing-3 {
	letter-spacing: 3px
}
.line-length {
	max-width: 600px
}
.list-reset>dd:after {
	display: block;
	content: ''
}
.font-style-normal {
	font-style: normal
}
@font-face {
	font-family: Graphik;
	src: url(//d6w7wdcyyr51t.cloudfront.net/cdn/fonts/Graphik-Light.f75e5325.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal
}
@font-face {
	font-family: Graphik;
	src: url(//d6w7wdcyyr51t.cloudfront.net/cdn/fonts/Graphik-Regular-Web.46641efe.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal
}
@font-face {
	font-family: Graphik;
	src: url(//d6w7wdcyyr51t.cloudfront.net/cdn/fonts/Graphik-Medium-Web.ff69013c.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal
}
@font-face {
	font-family: Graphik;
	src: url(//d6w7wdcyyr51t.cloudfront.net/cdn/fonts/Graphik-Semibold-Web.6a3cff4b.woff) format('woff');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal
}
.inline {
	display: inline
}
.block {
	display: block
}
.inline-block {
	display: inline-block
}
.table {
	display: table
}
.table-cell {
	display: table-cell
}
.overflow-hidden {
	overflow: hidden
}
.overflow-scroll {
	overflow: scroll
}
.overflow-auto {
	overflow: auto
}
.clearfix:after, .clearfix:before {
	content: " ";
	display: table
}
.clearfix:after {
	clear: both
}
.left {
	float: left
}
.right {
	float: right
}
.fit {
	max-width: 100%
}
.max-width-1 {
	max-width: 24rem
}
.max-width-2 {
	max-width: 32rem
}
.max-width-3 {
	max-width: 48rem
}
.max-width-4 {
	max-width: 64rem
}
.border-box {
	box-sizing: border-box
}
.content-box {
	box-sizing: content-box
}
@media (min-width:750px) and (max-width:999px) {
.container {
	max-width: 720px
}
}
@media (min-width:1000px) {
.container {
	max-width: 1170px
}
}
.align-baseline {
	vertical-align: baseline
}
.align-top {
	vertical-align: top
}
.align-middle {
	vertical-align: middle
}
.align-bottom {
	vertical-align: bottom
}
.m0 {
	margin: 0
}
.mt0 {
	margin-top: 0
}
.mr0 {
	margin-right: 0
}
.mb0 {
	margin-bottom: 0
}
.ml0, .mx0 {
	margin-left: 0
}
.mx0 {
	margin-right: 0
}
.my0 {
	margin-top: 0;
	margin-bottom: 0
}
.m1 {
margin:.5rem
}
.mt1 {
margin-top:.5rem
}
.mr1 {
margin-right:.5rem
}
.mb1 {
margin-bottom:.5rem
}
.ml1, .mx1 {
margin-left:.5rem
}
.mx1 {
margin-right:.5rem
}
.my1 {
margin-top:.5rem;
margin-bottom:.5rem
}
.m2 {
	margin: 1rem
}
.mt2 {
	margin-top: 1rem
}
.mr2 {
	margin-right: 1rem
}
.mb2 {
	margin-bottom: 1rem
}
.ml2, .mx2 {
	margin-left: 1rem
}
.mx2 {
	margin-right: 1rem
}
.my2 {
	margin-top: 1rem;
	margin-bottom: 1rem
}
.m3 {
	margin: 2rem
}
.mt3 {
	margin-top: 2rem
}
.mr3 {
	margin-right: 2rem
}
.mb3 {
	margin-bottom: 2rem
}
.ml3, .mx3 {
	margin-left: 2rem
}
.mx3 {
	margin-right: 2rem
}
.my3 {
	margin-top: 2rem;
	margin-bottom: 2rem
}
.m4 {
	margin: 4rem
}
.mt4 {
	margin-top: 4rem
}
.mr4 {
	margin-right: 4rem
}
.mb4 {
	margin-bottom: 4rem
}
.ml4, .mx4 {
	margin-left: 4rem
}
.mx4 {
	margin-right: 4rem
}
.my4 {
	margin-top: 4rem;
	margin-bottom: 4rem
}
.mxn1 {
margin-left:-.5rem;
margin-right:-.5rem
}
.mxn2 {
	margin-left: -1rem;
	margin-right: -1rem
}
.mxn3 {
	margin-left: -2rem;
	margin-right: -2rem
}
.mxn4 {
	margin-left: -4rem;
	margin-right: -4rem
}
.ml-auto {
	margin-left: auto
}
.mr-auto, .mx-auto {
	margin-right: auto
}
.mx-auto {
	margin-left: auto
}
.mtn1 {
margin-top:-.5rem
}
.mtn2 {
	margin-top: -1rem
}
.mtn3 {
	margin-top: -2rem
}
.mtn4 {
	margin-top: -4rem
}
.m-auto {
	margin: auto
}
.mp1, .mtp1, .myp1 {
	margin-top: 1px
}
.mp2, .mtp2, .myp2 {
	margin-top: 2px
}
.mp3, .mtp3, .myp3 {
	margin-top: 3px
}
.mp4, .mtp4, .myp4 {
	margin-top: 4px
}
.mp5, .mtp5, .myp5 {
	margin-top: 5px
}
.mp6, .mtp6, .myp6 {
	margin-top: 6px
}
.mp1, .mrp1, .mxp1 {
	margin-right: 1px
}
.mp2, .mrp2, .mxp2 {
	margin-right: 2px
}
.mp3, .mrp3, .mxp3 {
	margin-right: 3px
}
.mp4, .mrp4, .mxp4 {
	margin-right: 4px
}
.mp5, .mrp5, .mxp5 {
	margin-right: 5px
}
.mp6, .mrp6, .mxp6 {
	margin-right: 6px
}
.mbp1, .mp1, .myp1 {
	margin-bottom: 1px
}
.mbp2, .mp2, .myp2 {
	margin-bottom: 2px
}
.mbp3, .mp3, .myp3 {
	margin-bottom: 3px
}
.mbp4, .mp4, .myp4 {
	margin-bottom: 4px
}
.mbp5, .mp5, .myp5 {
	margin-bottom: 5px
}
.mbp6, .mp6, .myp6 {
	margin-bottom: 6px
}
.mlp1, .mp1, .mxp1 {
	margin-left: 1px
}
.mlp2, .mp2, .mxp2 {
	margin-left: 2px
}
.mlp3, .mp3, .mxp3 {
	margin-left: 3px
}
.mlp4, .mp4, .mxp4 {
	margin-left: 4px
}
.mlp5, .mp5, .mxp5 {
	margin-left: 5px
}
.mlp6, .mp6, .mxp6 {
	margin-left: 6px
}
.mxnp1 {
	margin-left: -1px;
	margin-right: -1px
}
.mxnp2 {
	margin-left: -2px;
	margin-right: -2px
}
.mxnp3 {
	margin-left: -3px;
	margin-right: -3px
}
.mxnp4 {
	margin-left: -4px;
	margin-right: -4px
}
.mxnp5 {
	margin-left: -5px;
	margin-right: -5px
}
.mxnp6 {
	margin-left: -6px;
	margin-right: -6px
}
.p0 {
	padding: 0
}
.pt0 {
	padding-top: 0
}
.pr0 {
	padding-right: 0
}
.pb0 {
	padding-bottom: 0
}
.pl0, .px0 {
	padding-left: 0
}
.px0 {
	padding-right: 0
}
.py0 {
	padding-top: 0;
	padding-bottom: 0
}
.p1 {
padding:.5rem
}
.pt1 {
padding-top:.5rem
}
.pr1 {
padding-right:.5rem
}
.pb1 {
padding-bottom:.5rem
}
.pl1 {
padding-left:.5rem
}
.py1 {
padding-top:.5rem;
padding-bottom:.5rem
}
.px1 {
padding-left:.5rem;
padding-right:.5rem
}
.p2 {
	padding: 1rem
}
.pt2 {
	padding-top: 1rem
}
.pr2 {
	padding-right: 1rem
}
.pb2 {
	padding-bottom: 1rem;
	margin-top: 10px;
}
.pl2 {
	padding-left: 1rem
}
.py2 {
	padding-top: 1rem;
	padding-bottom: 1rem
}
.px2 {
	padding-left: 1rem;
	padding-right: 1rem
}
.p3 {
	padding: 2rem
}
.pt3 {
	padding-top: 2rem
}
.pr3 {
	padding-right: 2rem
}
.pb3 {
	padding-bottom: 2rem
}
.pl3 {
	padding-left: 2rem
}
.py3 {
	padding-top: 2rem;
	padding-bottom: 2rem
}
.px3 {
	padding-left: 2rem;
	padding-right: 2rem
}
.p4 {
	padding: 4rem
}
.pt4 {
	padding-top: 4rem
}
.pr4 {
	padding-right: 4rem
}
.pb4 {
	padding-bottom: 4rem
}
.pl4 {
	padding-left: 4rem
}
.py4 {
	padding-top: 4rem;
	padding-bottom: 4rem
}
.px4 {
	padding-left: 4rem;
	padding-right: 4rem
}
.pp1, .pxp1 {
	padding-left: 1px;
	padding-right: 1px
}
.pp2, .pxp2 {
	padding-left: 2px;
	padding-right: 2px
}
.pp3, .pxp3 {
	padding-left: 3px;
	padding-right: 3px
}
.pp4, .pxp4 {
	padding-left: 4px;
	padding-right: 4px
}
.pp5, .pxp5 {
	padding-left: 5px;
	padding-right: 5px
}
.pp6, .pxp6 {
	padding-left: 6px;
	padding-right: 6px
}
.pp1, .pyp1 {
	padding-top: 1px;
	padding-bottom: 1px
}
.pp2, .pyp2 {
	padding-top: 2px;
	padding-bottom: 2px
}
.pp3, .pyp3 {
	padding-top: 3px;
	padding-bottom: 3px
}
.pp4, .pyp4 {
	padding-top: 4px;
	padding-bottom: 4px
}
.pp5, .pyp5 {
	padding-top: 5px;
	padding-bottom: 5px
}
.pp6, .pyp6 {
	padding-top: 6px;
	padding-bottom: 6px
}
.col {
	float: left
}
.col, .col-right {
	box-sizing: border-box
}
.col-right {
	float: right
}
.col-1 {
	width: 8.33333%
}
.col-2 {
	width: 16.66667%
}
.col-3 {
	width: 25%
}
.col-4 {
	width: 33.33333%
}
.col-5 {
	width: 41.66667%
}
.col-6 {
	width: 50%
}
.col-7 {
	width: 58.33333%
}
.col-8 {
	width: 66.66667%
}
.col-9 {
	width: 75%
}
.col-10 {
	width: 83.33333%
}
.col-11 {
	width: 91.66667%
}
.col-12 {
	width: 100%
}
.multi-cols-1 {
	-webkit-columns: 1;
	-moz-columns: 1;
	columns: 1
}
.multi-cols-2 {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2
}
.multi-cols-3 {
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3
}
.multi-cols-4 {
	-webkit-columns: 4;
	-moz-columns: 4;
	columns: 4
}
.multi-cols-5 {
	-webkit-columns: 5;
	-moz-columns: 5;
	columns: 5
}
.multi-cols-6 {
	-webkit-columns: 6;
	-moz-columns: 6;
	columns: 6
}
.multi-cols-7 {
	-webkit-columns: 7;
	-moz-columns: 7;
	columns: 7
}
.multi-cols-8 {
	-webkit-columns: 8;
	-moz-columns: 8;
	columns: 8
}
.multi-cols-9 {
	-webkit-columns: 9;
	-moz-columns: 9;
	columns: 9
}
.multi-cols-10 {
	-webkit-columns: 10;
	-moz-columns: 10;
	columns: 10
}
.multi-cols-11 {
	-webkit-columns: 11;
	-moz-columns: 11;
	columns: 11
}
.multi-cols-12 {
	-webkit-columns: 12;
	-moz-columns: 12;
	columns: 12
}
.container-height {
	height: 100%
}
.container-size {
	width: 100%;
	height: 100%
}
.break-before {
	page-break-before: always;
	break-before: always;
	-webkit-column-break-before: always
}
.break-after {
	page-break-after: always;
	break-after: always;
	-webkit-column-break-after: always
}
@media (min-width:750px) and (max-width:999px) {
.col-on-tb {
	float: left;
	box-sizing: border-box
}
.col-right-on-tb {
	float: right;
	box-sizing: border-box
}
.col-1-on-tb {
	width: 8.33333%
}
.col-2-on-tb {
	width: 16.66667%
}
.col-3-on-tb {
	width: 25%
}
.col-4-on-tb {
	width: 33.33333%
}
.col-5-on-tb {
	width: 41.66667%
}
.col-6-on-tb {
	width: 50%
}
.col-7-on-tb {
	width: 58.33333%
}
.col-8-on-tb {
	width: 66.66667%
}
.col-9-on-tb {
	width: 75%
}
.col-10-on-tb {
	width: 83.33333%
}
.col-11-on-tb {
	width: 91.66667%
}
.col-12-on-tb {
	width: 100%
}
}
@media (min-width:750px) {
.col-on-tb-dt {
	float: left;
	box-sizing: border-box
}
.col-right-on-tb-dt {
	float: right;
	box-sizing: border-box
}
.col-1-on-tb-dt {
	width: 8.33333%
}
.col-2-on-tb-dt {
	width: 16.66667%
}
.col-3-on-tb-dt {
	width: 25%
}
.col-4-on-tb-dt {
	width: 33.33333%
}
.col-5-on-tb-dt {
	width: 41.66667%
}
.col-6-on-tb-dt {
	width: 50%
}
.col-7-on-tb-dt {
	width: 58.33333%
}
.col-8-on-tb-dt {
	width: 66.66667%
}
.col-9-on-tb-dt {
	width: 75%
}
.col-10-on-tb-dt {
	width: 83.33333%
}
.col-11-on-tb-dt {
	width: 91.66667%
}
.col-12-on-tb-dt {
	width: 100%
}
}
@media (min-width:1000px) {
.col-on-dt {
	float: left;
	box-sizing: border-box
}
.col-right-on-dt {
	float: right;
	box-sizing: border-box
}
.col-1-on-dt {
	width: 8.33333%
}
.col-2-on-dt {
	width: 16.66667%
}
.col-3-on-dt {
	width: 25%
}
.col-4-on-dt {
	width: 33.33333%
}
.col-5-on-dt {
	width: 41.66667%
}
.col-6-on-dt {
	width: 50%
}
.col-7-on-dt {
	width: 58.33333%
}
.col-8-on-dt {
	width: 66.66667%
}
.col-9-on-dt {
	width: 75%
}
.col-10-on-dt {
	width: 83.33333%
}
.col-11-on-dt {
	width: 91.66667%
}
.col-12-on-dt {
	width: 100%
}
}
.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
@media (max-width:0px) {
.lg-flex, .md-flex, .sm-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
}

.self-start {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start
}
.self-end {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end
}
.self-center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center
}
.self-baseline {
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline
}
.self-stretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch
}
.justify-start {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}
.justify-end {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.justify-center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.justify-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.border-dark-silver {
    border-color: #dadada;
}
.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.border-top {
    border-top-style: solid;
    border-top-width: 1px;
}
.py2 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.mb1 {
    margin-bottom: 0.5rem;
}
.flex-auto {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}
.light {
    font-weight: 300;
}
.bg-aqua {
    background-color: #49bbf0;
}