/.buildpath
/.project
/.settings
/admin/config.php
/config.php
/image/cache/*
/image/catalog/*
/system/cache/*
/system/logs/*.log
/system/storage/cache/cache.*
/system/storage/logs/*.log
/system/upload/*

